.row{
  background: #800060;
  border: 2px solid #0099ff;
  padding: 5px;
  margin: 10px;
  color: #cccccc;
}

img{
  margin: 10px;
  margin-left: 120px;
}

h1{
  float: none;
  font-weight: bolder;
  color: #800060;
  margin: 20px;
  font-size: 50px;
}

h1{
  font-family: "Lora", serif;

}
